.detail-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 96vw;
}

.overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}