.image-wrapper {
  position: relative;
  height: 45vh;
  width: 96vw;
  background-color: #d2b48c;
}
.image-wrapper img {
  width: 96vw;
  height: 45vh;
  object-fit: cover;
}

@keyframes picture1 {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes picture2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes picture3 {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes picture4 {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.images {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}

.image1 {
  animation: picture1 30s infinite ease-in-out;
}

.image2 {
  animation: picture2 30s infinite ease-in-out;
}

.image3 {
  animation: picture3 30s infinite ease-in-out;
}

.image4 {
  animation: picture4 30s infinite ease-in-out;
}

.description {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 1vw;
  margin: 1vw;
  color: black;
  background: rgba(255, 255, 255, 0.6);
  font-size: 20px;
  font-weight: bold;
  z-index: 5;
}

.product-container {
  background-color: #c4d7db;
  margin: 20px 0 10px 0;
  width: 96vw;
  text-align: center;
}

.product-container img {
  height: 300px;
  width: auto;
  overflow: hidden;
  text-align: center;
}

.pics {
  text-align: center;
  background-color: white;
}

.text-container {
  height: 180px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.descStyle {
  background-color: #472615;
  color: white;
  flex-grow: 1;
}

.descStyle:hover {
  color: orange;
}



.searchCriteria {
  flex-wrap: wrap;
  vertical-align: middle;
}

.account-table {
  margin: 0 20px 20px 20px;
  background-color:#FFEFD5;
}

.account-table tr {
  vertical-align: text-bottom;
}
.account-table th {
  padding: 5px;
}

.account-table td {
  padding: 0 20px 0 20px;
}

.shopMe {
  color:#472615;
  background-color: white;
  border-color: white;
  font-weight: bold;
  margin: 5px;
}

.shopMe:hover {
 background-color: orange;
 border-color: white;
}

.searchItemStyle {
  width: 180px;
  margin: 2px;
}

.searchItemStyle button {
  background: linear-gradient(#8B4513, rgb(71, 38, 21));
  border-color: transparent;
}

.searchItemStyle button:hover {
  background: linear-gradient(rgb(71, 38, 21),#8B4513);
  border-color: transparent;
}

.searchItemStyle input {
  border-color: transparent;
}

.searchItemStyle input:hover {
  border-color: #8B4513;
}

.searchItemStyle select {
  border-color: transparent;
}

.accountButton {
  background: linear-gradient(rgb(71, 38, 21),#8B4513);
  color: white;
  border-color: transparent;
}

.accountButton:hover {
  background: linear-gradient(#8B4513,rgb(71, 38, 21));
  color: white;
  border-color: transparent;
}

.finish {
  display: flex;
  flex-direction: column;
  align-items: center;
}

